* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, #30c5d2, #471069);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.game-title h1 {
    text-align: center;
    font-size: 79px;
    font-family: "Lemon", cursive;
    color: #471069;
}

.game-title {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    text-decoration: none;
    width: auto;
    height: 40px;
    padding: 10px;
    background: #471069;
    color: white;
    border-radius: 20px;
    margin-top: 30px;
}

.nav-btn:hover {
    background: blue;
    color: white;
}

.game-container {
    display: flex;
    width: 80%;
    margin: 20px;
    border: 1px solid red;
    background-color: white;
}

.card {
    color: black;
    margin: 10px;
    width: 100px;
    height: 250px;
    border: 1px solid blue;
}
